.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
}

.divs{
    display: flex;
}

.div{
    margin: 20px;
}

button {
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: grey;
}